{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrdersBoard</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
<style>
        .table-tile {
            width: 100%;
            height: 500px;
            overflow: hidden;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }

        .table-tile .panel-body {
            overflow-y: auto; /* 设置垂直滚动条 */
            flex-grow: 1; /* 让表格主体部分可伸缩 */
        }



        .panel-heading {
            background-color: #f8f9fa;
            padding: 10px;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }

</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Current Orders Board</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Menu Manage <span class="sr-only">(current)</span></a></li>
        <li><a href="/kitchen/">Kitchen</a></li>
          <li class="active"><a href="/OrdersBoard/">OrdersBoard</a></li>
          <li><a href="/Statistics/">Statistics</a></li>
          </ul>
        </div>



</div>
</nav>




<div class="container" style="width: 96%">
    <div class="row">

       {% for order_id, items in orderlist.items %}

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="table-tile">
                <div class="panel-heading">Table No. {{ items.0.table_number }}</div>
                <div class="panel-heading">Order No. {{ order_id }}</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th  style="width: 5%;">#</th>
                            <th  style="width: 35%;">Food Name</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th style="width: 20%;">Options</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for item in items %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{ item.foodname }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>


                                {% if not item.cancled %}
                                {% if item.cooking %}
                                                     {% if item.finished %}
                                <a class="btn btn-success  dynamic-font">Finished</a>
                                {% else %}
                                <a class="btn btn-warning " >Kooking</a>
                                {% endif %}
                                {% else %}

                                    <a class="btn btn-default " >Not start</a>
                                {% endif %}
                                {% endif %}
                                </td><td>
                                {% if not item.cancled %}
                                    <a class="btn btn-default " href="/Ocancleitem/{{ item.table_number }}/{{ order_id }}/{{ item.logid }} "onclick="if(!confirm('Cancel Order?')) { event.preventDefault(); }">Cancel</a>
                                    {% else %}
                                    <a class="btn btn-danger ">Cancled</a>
                                    {% endif %}


                            </td>

                        </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-default col-md-4 dynamic-font pull-right" href="/checkout/{{ order_id }}/">Checkout</a>
                </div>
            </div>
        </div>

    {% endfor %}






    </div>
</div>






<!-- 添加更多行 -->
<script>
  function refreshPage() {
    location.reload();
  }

  setInterval(refreshPage, 10000);
</script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>