{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removed Items</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">

    <script>
        function confirmDelete(url) {
            if (confirm("Are you sure you want to remove?")) {
                window.location.href = url;
            }
        }
    </script>
<style>
zoomImage{

width:100%;
height:0;
padding-bottom: 100%;
overflow:hidden;
background-position: center center;
background-repeat: no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;

}
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Menu Manage</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
        <li><a href="/">Menu Manage <span class="sr-only">(current)</span></a></li>
        <li><a href="/kitchen/">Kitchen</a></li>
    <li><a href="/OrdersBoard/">OrdersBoard</a></li>
                    <li class="dropdown">
          <a href="/Statistics/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="/Statistics/">Dashboard</a></li>
            <li ><a href="/Statistics2/">Demand Report</a></li>
          </ul>
    </div>



</nav>

<div class="btn-group btn-group-lg" style="margin-bottom:20px;padding-left: 5%;">
    <div>
        <a class="btn btn-default" href="/">Back</a>
    </div>

</div>

<div class="panel panel-default" style="padding: 5%">
  <div class="panel-heading">Unused items list</div>
  <div class="panel-body">

      <table class="table" style="font-size: 20px;">

        <thead>
          <tr>
            <th>#</th>
            <th>Food Name</th>
            <th>description</th>
            <th>price</th>
          </tr>
        </thead>


        <tbody>
     {% if queryset %}
        {% for obj in queryset %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ obj.foodname }}</td>
            <td style="word-wrap: break-word; white-space: normal;">{{ obj.description }}</td>
            <td>{{ obj.price }}</td>
            <td>
            <div class="zoomImage">
                    <img class=img src="/Media/{{ obj.img }}" height="100" width="100" >
            </div>
            </td>
            <td>
             <div class="btn-group" role="group" aria-label="..." >
                 <a type="button" class="btn btn-primary" href="retrieve/{{ obj.foodid }}/"> Retrieve </a>
             <a type="button" class="btn btn-danger" href="/deleteitems/{{ obj.foodid }}/" onclick="if(!confirm('Are you sure you want to permanently deleted this item? \n \nPlease notice: This action is irreversible and may affect workflow. Please avoid using it during working hours.')) { event.preventDefault(); }" > Delete </a>
            </div>
            </td>
          </tr>
        {% endfor %}
        {% else %}
        <th scope="row">Empty</th>
            <td>You can click remove bottom to remove a item from menu page</td>
            <td> </td><td> </td>
        <th>
        {% endif %}

        </tbody>
      </table>



  </div>
</div>


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>